<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Adresses</title>
	<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head>
<body>
	<form action="/meteo" method="post">
		<div>
			<label for="address">Please input your address :</label> 
			<input name="address" id="address"> 
	    </div>
		<div>
			<button>Get the weather at the given address !</button>
		</div> 
	</form >
	<h1>Les différentes adresses</h1>
	<ul th:each="address:${allAddresses}">
		<li th:text="${address.content }" />
	</ul>
	</body> 
</html>